$headerHeight: 80px;

header {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;

  .title {
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 10%;
    margin-right: 3%;
  }

  nav {
    font-size: smaller;
    height: inherit;
    margin-right: 3%;

    ul {
      margin: 0;
      display: flex;
      align-items: center;
      height: inherit;

      li {
        vertical-align: middle;

        a {
          display: inline-block;
          text-decoration: none;
          color: white;
          padding: 10px;
          box-sizing: border-box;
          height: $headerHeight;
          line-height: 60px;

          &:hover {
            transition: 250ms;
            background-color: #272727;
            border-bottom: 7px solid #9932cb;
          }
        }

        .active {
          border-bottom: 7px solid #9932cb;
        }
      }
    }
  }
}
