footer {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 220px;

  span {
    display: inline-block;
    font-style: italic;
    font-size: 17px;
    margin-left: 10%;
    margin-right: 3%;
  }

  .companies-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 7%;
    height: inherit;
  }

  a {
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    &:hover {
      transition: 250ms;
      background: linear-gradient(#121212, #272727);
      border-bottom: 4px solid #9932cb;
    }
  }

  #sony {
    height: 20px;
  }
  #nintendo {
    height: 30px;
  }
  #epicgames {
    height: 50px;
  }
  #ea {
    height: 30px;
  }
  #activision {
    height: 27px;
  }
}
