.gray_section {
  background: rgba(18, 18, 18, 0.55);
  border-radius: 40px;
  padding: 3% 2%;
  margin-top: 20px;
}
.section_title {
  margin: 0 0 3% 0;
  padding: 0 0 4px 3%;
  border-bottom: #fff 1.5px solid;
}
